*{
    border: 1px solid black;
}
body{
    font-size: 24px;
    margin: 0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.repo{
    display:flex;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    margin: 5px;
}
.title{
    padding: 5px;
    font-size: 50px;
}
.main-area{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.TOC-and-cards{
    display:flex;
    flex: 4;
}
.TOC{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    flex: 1;
}
.add-book-area{
    flex: 1;
    padding: 5px;
}
.titles{
    display:flex;
}
.TOC-title{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.card-title{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:4;
}
.display-game-cards{
    display: flex;
    gap: 5px;
    flex: 4;
    padding: 5px;
}

