*{
    border: 1px solid black;
}
body{
    font-size: 24px;
    margin: 0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.repo{
    display:flex;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    margin: 5px;
}
.title{
    padding: 5px;
    font-size: 50px;
}
.main-area{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.TOC-and-cards{
    display:flex;
    flex: 4;
}
.add-game-area{
    display:flex;
    flex-direction: column;
    margin: 5px;
    text-align: center;
}
.add-game-title{
    text-align: center;
    font-weight: bold;
}
#submit{
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}
.TOC-column{
    display:flex;
    flex-direction: column;
    flex:1;
}
.display-column{
    display:flex;
    flex-direction: column;
    flex:4;
}
.TOC-title{
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: ;
}
.TOC{
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: auto;
    gap:10px;
}
.TOC-container{
    padding: 5px;
}
.card-titlebar{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.card-title{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    height:150px;
    overflow: auto;
}
.display-game-cards{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
}
.card-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding: 20px;
}
.checkbox{
    display: flex;
    align-items: center;
}
input{
    height: 30px;
    font-size: large;
    text-align: center;
}